.item {
    margin: 0px;
    display: inline-grid;
    align-self: auto;
    font-size: 0;
    height: 48px;
    width: 32px;
    cursor: pointer;
  }

.item.incrementing {
  grid-template-columns: 1fr;
  height: 40px;
  width: 94px;
}

.incrementor div {

}

.magicite {
  background-image: url(./icons/magicite.gif);
  background-repeat: no-repeat;
  background-position-x: center;
  font: outline;
  color: white;
  font-weight: 600;
  font-size:16px;
  text-align: end;
  padding-top: 20px;
}

.incrementor {

  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 94px;
}

.groups {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;    
}


.wob {
  background-color: darkblue;
}

.wor {
  background-color:darkred;
}
.both {
  background-color: darkgreen;
}

.character {
  /* background-color: lightseagreen; */
}

  .tracker-group {
    border-style: solid;
    border-color:silver;
    border-width: 2px;
    border-radius: 17px;
}
  .tracker-group-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
  }

  .group-item {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
  }
    
  .item-image {  
    opacity: .25;
    font-size: 0;
    height: 100%;
    width: 100%;    
    min-width: 24px;
  }

  .collected {
    opacity: 1;
  }

  .trackers {
    background-color: black;
    font-size: 0;
  } 
 

  .hidden {
    display: none
  }
